<!-- Create a Error Page for 403 Errors -->
{% extends "layout.html" %} {% block content %}
<!-- Center container vertically in the middle of the page -->
<div class="container h-100">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1 class="display-4">403 Error</h1>
        <p class="lead">You do not have permission to access this page.</p>
        <hr class="my-4" />
        <p>Click the button below to return to the home page.</p>
        <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
