{% extends "layout.html" %} {% block content %}
<!-- Center container vertically in the middle of the page -->
<div class='container h-100'>
  <div class='row'>
    <div class='col-md-12'>
      <div class='jumbotron'>
        <h1 class='display-4'>404 Error</h1>
        <p class='lead'>The page you are looking for does not exist.</p>
        <hr class='my-4'>
        <p>Click the button below to return to the home page.</p>
        <a class='btn btn-primary btn-lg' href='/' role='button'>Home</a>
      </div>
    </div>
  </div>
{% endblock %}
