<!-- Inherits from layout.html --> {% extends "layout.html" %}
<!-- Create a bootstrap table with the following columns:
Gender, Age, Hypertension, Heart Disease, Ever Married, Work Type, Residence Type, Avg Glucose Level, BMI, Smoking Status, Stroke, Prediction Date --> {% block content %} <div class='container'>
  
  <div class='d-flex justify-content-between my-4'>
    <form class='form-inline' action='/search' method='post'>
      <input class='form-control mr-2 search-input' type='text' name='search_term' placeholder='Search Dashboard..'>
      <button class='btn btn-outline-primary mr-2 search-button' type='submit'>Search</button>
    </form>
  
    <form action='/filter-results' method='post'>
      <div class='form-inline filter-1'>
        <!-- Model Filter -->
        <div class='form-group mr-2'>
          <label for='modelFilter'><b>Model:</b></label>
          &nbsp;&nbsp;
          <select class='form-control' id='modelFilter' name='modelFilter'>
            <option value='all'>All</option>
            <option value='NathanNet-v1'>NathanNet-v1</option>
            <option value='NathanNet-v2'>NathanNet-v2</option>
          </select>
        </div>
      
        <!-- Prediction Filter -->
        <div class='form-group mr-2 filter-2'>
          <label for='predictionFilter'><b>Prediction:</b></label>
          &nbsp;&nbsp;
          <select class='form-control' id='predictionFilter' name='predictionFilter'>
            <option value='all'>All</option>
            <!-- Replace "cifar-10 classes" with the actual names of the classes -->
            <option value='airplane'>Airplane</option>
            <option value='automobile'>Automobile</option>
            <option value='bird'>Bird</option>
            <option value='cat'>Cat</option>
            <option value='deer'>Deer</option>
            <option value='dog'>Dog</option>
            <option value='frog'>Frog</option>
            <option value='horse'>Horse</option>
            <option value='ship'>Ship</option>
            <option value='truck'>Truck</option>
          </select>
        </div>
      
        <button class='btn btn-outline-success filter-button' type='submit'>Filter</button>
      </div>
    </form>
  </div>
  
  
  <table class='table table-striped'>
        <thead>
          <tr>
            <th>ID</th>
            <th>Model</th>
            <th>Prediction Date</th>
            <th>Model Confidence (%)</th>
            <th>Prediction</th>
            <th>Modify Entry</th>
          </tr>
        </thead>
        <tbody> {% for entry in entries.items %} <tr>
            <td>{{ entry.id }}</td>
            <td>{{ entry.model_selection }}</td>
            <td>{{ entry.pred_dt }}</td>
            <td>{{ entry.conf_pct * 100}}</td>
            <td>{{ entry.pred }}</td>
            <td>
              <form name='RemoveEntry' action='/remove/{{ entry.id }}' method='post' novalidate>
                <input type='hidden' name='id' value='{{ entry.id }}'>
                <button type='submit' class='btn btn-danger my-2'>Remove</button>
              </form>
              <form name='ViewEntry' action='/view/{{ entry.id }}' method='get' novalidate>
                <input type='hidden' name='id' value='{{ entry.id }}'>
                <button type='submit' class='btn btn-warning my-2'>View</button>
              </form>
            </td>
          </tr> {% endfor %} </tbody>
      </table>
    <!-- Pagination Links-->
    <div class="text-right">
      <a href="{{ url_for('dashboard_page', page=entries.prev_num) }}"
         class="btn btn-outline-dark 
         {% if entries.page == 1 %}disabled{% endif %}">
          &laquo;
      </a>
    <!-- Loop through the number of pages to display a link for each-->
      {% for page_num in entries.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
    <!-- Check for the active page and set the link to "Active"-->
              {% if entries.page == page_num %}
              <a href="{{ url_for('dashboard_page', page=page_num) }}"
                 class="btn btn-dark">
                  {{ page_num }}
              </a>
              {% else %}
              <a href="{{ url_for('dashboard_page', page=page_num) }}"
                 class="btn btn-outline-dark">
                  {{ page_num }}
              </a>
              {% endif %}
          {% else %}
              ...
          {% endif %}
      {% endfor %}
      <a href="{{ url_for('dashboard_page', page=entries.next_num) }}"
         class="btn btn-outline-dark 
         {% if entries.page == entries.pages %}disabled{% endif %}">
          &raquo;
      </a>
    </div>
    <p class="text-right mt-3">
     Showing page {{ entries.page }} of {{ entries.pages }}
    </p>
    </div> {% endblock %}
  