{% extends "layout.html" %}
{% block content %}
<div class="container-fluid text-center">
  <div class = 'row'>
      <div class="col-sm-12">
          <!-- Big Div -->
          <div style="background-color: #c8b6ff; border-radius: 25px; padding-top: 25px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; width: 50%; margin: 100px auto; padding-bottom: 50px;">
              <h3 style="padding-bottom: 10px; text-align: center; color: #000000; font-weight: 450; font-family: 'Libre Franklin', sans-serif;"><u><b>Upload Image for Prediction</b></u></h3>
              <form method='POST' enctype='multipart/form-data' class = 'Upload_Form'>
                  <div class="upload-section">
                      <div style="background-color: #b8c0ff; border-radius: 25px; border: dashed #000000; width: 500px; height: 200px; margin: 0 auto; display: flex; align-items: center; justify-content: center;">
                          <div style="text-align-last: center; margin: auto;">
                              {{ pred.hidden_tag() }}
                              {{ pred.file() }}
                          </div>
                      </div>
                      <h3 style="padding-top: 15px; text-align: center; color: #000000; font-weight: 450; font-family: 'Libre Franklin', sans-serif; font-size: 24px;"><u><b>Choose a Model: </b></u></h3>
                      <br><br>
                      {{ pred.Model_selection(class = 'form-control model-select') }}
                          {% for error in pred.Model_selection.errors %}
                              <span class="error-message">{{ error }}</span>
                          {% endfor %}
                      <br><br>
                      {{ pred.predict (class = 'button-23')}}
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
{% endblock %}
