html, body {
    width: 100%;
    height: 100%;
}

/* Navbar Styling */
nav {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
}

.nav-logo{
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
}

.nav-link {
    text-decoration: none;
    font-size: 17.5px;
}


/* Index Page  */
.index {
    font-family: 'Libre Franklin', sans-serif;
}

.index-title {
    font-size: 50px;
    font-weight: 600;
    text-decoration: underline;
    color: #735960;
}

.heart-img {
    width: 85%;
    height: auto;
}

/* Footer Page */
.footer {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12px;
    text-align: center;
    color: #735960;
    background-color: #D8E2DC;
}


/* Prediction */
.Upload_h3{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 28px;
    text-align: center;
    color: #735960;
}
.pred_container {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #735960;
    background-color: #FFFFFF;
    /* Make the Prediction container stand out from the rest of the page */
    border: 1px solid #D8E2DC;
    border-radius: 10px;
    padding: 20px;
}

.model-select {
    width: 55%;
    display: block;
  margin: 0 auto;
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
}

.error-message {
    font-size: 15px;
    color: #E07A5F;
}

.submit-btn {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: #D8E2DC;
    border: 1px solid #D8E2DC;
    border-radius: 10px;
}

/* Dashboard  */
td, th {
    text-align: center;
}

/* Register Page  */
.register-container {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #735960;
    background-color: #FFFFFF;
    border: 1px solid #D8E2DC;
    border-radius: 10px;
    padding: 20px;
}

/* Upload */
.Upload_Form {
    font-family: 'Libre Franklin', sans-serif;
    color: #735960;
    font-size: 95%;
}

/* CSS */
.button-23 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

.sort-arrow {
    float: right;
    display: none;
}

.sorted {
    display: inline-block !important;
}

.ascending .sort-arrow {
    border-bottom: 5px solid #333;
}

.descending .sort-arrow {
    border-top: 5px solid #333;
}
  